*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(215, 250, 245, 0.163);
}
/************************ header *******************/
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color:  rgb(251 251 251);
    padding: 15px 20px 5px;
     box-shadow:0px 0px  5px 1px rgb(211, 232, 226) ;
}
header .img{
    width: 150px;
}
img{
    width: 100%;
}
header ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    padding-top: 4px;
    gap: 15px;
}
a{
    text-decoration: none;
}
header ul li a{
    color: rgb(31, 99, 56,0.8);
    font-weight: bold;
}
header li{
     transition: 0.3s;
      font-size: 18px;
}
header ul li:hover{
    transform: scale(1.199);
}
/**************************** main *********************************/
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin-top: 90px;
    gap: 15px;
}
main .img{
    width: 500px;
    height: 250px;
}
main img{
    border-radius: 8px;
    height: 100%;
}
main .content , .sec2 .content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
}
h2 ,h3{
    color: rgb(31, 99, 56) ;
}
p{
     color: rgba(82, 100, 89, 0.8) ;
}
main button{
    width: 100px;
    padding: 10px 15px;
    background-color:rgb(31, 99, 56,0.8) ;
    font-size: 15px;
    border-radius: 4px;
    border: none;
}
main a , footer p{
     color: white;
}
main button:hover{
    background-color:rgb(31, 99, 56) ;
}
/************************ sec1 *******************************/
.sec1{
    margin-top: 50px;
    padding: 10px 20px;
}
.sec1 .content{
    text-align: center;
    margin-bottom: 50px;
}
.services{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}
.services div{
    width: 250px;
    background-color:  rgb(251 251 251);
    padding: 15px 5px;
    box-shadow:0px 0px  5px 1px rgb(211, 232, 226) ;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 4px;
    transition: 0.5s;
}
.secc1 .services div:hover ,.sec3-item:hover , .sec2-item:hover{
    transform: scale(1.09);
}
/***************************** sec2 ****************************/
.sec2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin-top: 90px;
    gap: 15px;
}
.sec2 .img{
    width: 300px;
    
}
.sec2 .content{
    width: 300px;
    box-sizing: content-box;
    text-align: left;
    padding-right: 110px;
}
.sec2-item-content{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.sec2-item{

    border-radius: 8px;
    overflow: hidden;
 
    background-color:  rgb(251 251 251);

    box-shadow:0px 0px  5px 1px rgb(211, 232, 226) ;

    transition: 0.5s;
}

/***************************** sec3 ****************************/
.sec3{
    padding-bottom: 50px;
}
.sec3 .services .services-content{
    gap: 5px;
   width: fit-content;
     box-shadow: 0 0 0 0 ;
    border-radius: 0;
    border: 0;
    padding: 0;
}
.sec3 .img{
    width: 20px;
    box-shadow: 0 0 0 0 ;
    border-radius: 0;
    border: 0;
    padding: 0;
}
img{
    width: 100%;
}
.sec3  .services .sec3-item{
   width: 335px;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   padding: 15px;

}
/************************** footer ********************/
footer{
    background-color:rgb(31, 99, 56) ;
    text-align: center;
    padding: 10px;
}