*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    height: 1000vh;
}
header{
    width:100%;
    overflow: auto;
    padding: 10px 50px;
    background-color: rgba(34, 30, 59, 0.826);
    position: fixed;
    top: 0;
    text-transform: capitalize;
    z-index: 10;
}
.header-list{
    float: right;
    margin-top: 5px;
}
.header-list li{
    display: inline;
    margin-left: 20px;
    font-size: 18px; 
    position: relative; 
    opacity: 0.9; 
}
.header-list li::after{
    position: absolute;
    content: "";
    width: 0;
    height: 5%;
    bottom: -5px;
    left: 0;
    visibility: hidden;
    transition: 0.5s;
    background-color: rgb(110, 89, 64);
}
.header-list li:hover::after{
    width: 100%;
    visibility: visible; 
}
a{
    text-decoration: none;
}
.header-list li a{
    color: white;
}
header i{
    color: white;
    font-size: 30px;
    float: left;
    margin-top: 3px;
    opacity: 0.9;  
}
header input{
    border-radius: 20px;
    border: none;
    height: 35px;
    width: 250px;
    margin-left: 20px;
    float: left;
    position: relative;
    opacity: 0.9; 
}
.search-icon{
    position: absolute;
    left: 120px;
    color: rgb(69, 51, 30);
    top: 16px;
    font-size: 20px;
}
/********************* /header ***********************/
main{
    height: 100vh;
    background-image: url(../images/four-elegant-glass-perfume-bottles-on-a-gray-illuminated-background-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.main-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
    
}
.main-parent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
    text-align: center;
    color: white;
    
}
.main-title{
    text-transform: uppercase;
    font-size: 52px;
    
}
.main-p{
    letter-spacing: 1.5px;
    word-spacing: 2.5px;
     margin: 20px 0px;
     color: rgb(225, 225, 225);
}
.main-btn{
    padding: 15px 8px;
    text-transform: capitalize;
    border-radius: 10px;
    border: none;
    margin-left: 10px;
    opacity: 0.8;
    
}
.main-btn a{
    font-weight: 50;
    font-size: 16px;
}
.main-btn1 a{
     color:rgb(16, 10, 57);
}
.main-btn2 a{
   color: white;
}
.main-btn2{
    background-color: rgb(95, 79, 60);
}
.main-btn:hover{
    opacity: 1;
}
/*************************** /main ****************************/
.sec1 , section{
    height: 100vh;
    text-align: center;
    padding: 5% 0px;
    text-transform: capitalize;
    position: relative;
}
.sec1{
    padding: 10% 0px;
}
h3,h4{   color:rgb(29, 22, 77);}
h3{
    font-size: 35px;
}
.line{
    width: 70px ;
    height: 2.5px;
    background-color: rgb(122, 98, 72);
    margin: auto;
    margin-top: 10px;
}
.container{
    width: 80%;
    margin:auto;
}
.parent{
    overflow: auto;
    padding: 10% 0px;
}
.sec1-item{
    float: left;
    width: 30%;
    padding: 20px 10px;
    border-radius: 10px;
    border: 0.5px solid rgb(148, 127, 104);
    background-color: rgba(227, 221, 217, 0.244);
    position: relative;
    opacity: 0.9;
}
.sec1-item2{
    margin: 0px 5%;
}
.sec1 i,.sec3 i{
    color: rgb(122, 98, 72);
    font-size: 30px;
}
.sec1 h4{
    margin: 15px 0px;
    font-size: 20px;
}
.sec1 p{
       color:rgb(86, 83, 104);
       margin-bottom: 15px;
}
.sec1 a ,.sec3 a{
 color:rgb(59, 36, 203);
}
.sec1-item:hover h4{
    color: white;
}
.sec1-item:hover p{
     color:rgb(45, 40, 73);
}
.sec1-item:hover{
    opacity: 1;
}
.sec1-item::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    transition: 0.5s;
    background-color: rgba(161, 139, 125, 0.485);
    opacity: 0;
    z-index: -1;
    border-radius: 10px;
} .sec1-item:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
/****************************** /sec1 ***********************************/
.sec2{
    background-color: rgba(227, 221, 217, 0.308);
}
.sec2-container{
    width: 65%;
}
.sec2 .img-item{
    float: left;
    width: 31%;
    background-image: url(../images/mockup-perfume-bottle-minimalist-scene_941097-46360.jpg);
    background-size: cover;
    height: 10%;
    margin-bottom: 3%;
}
.sec2 .img-item2{
    margin-left: 3.5%;
    margin-right: 3.5%;
}
.sec2 .img-overlay{
    background-color: rgba(0, 0, 0, 0.302);
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    padding: 12% 0px;
}
.sec2  .img-item:hover .img-overlay{
    visibility: visible;
    opacity: 1;
}
.img-overlay h4{
    font-size: 25Px;
    letter-spacing: 0px;
    color: rgb(75, 74, 74);
    font-weight: 900;
    text-transform: uppercase;
}
.img-overlay p{
    color: white;
    margin: 8% 0px;
    font-weight: 700;
}
.sec2 a{
    color: rgb(125, 114, 101);
    width: 100px;
    height: 50px;   
}
.sec2 i{
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    padding: 5px 30px 5px 10px;
     border-radius: 5px;
     text-align: center;
     opacity: 0.7;
     line-height: 20px;
}
.sec2 i:hover{
    opacity: 0.9;
}
/****************************** /sec2 ***********************************/
.sec3 .container{
    width:75%;
    text-align: left;
}
.sec3 .sec1-item2{
    margin-left: 5%;
    margin-right: 5%;
}
.sec3 .sec1-item{
    height: 27vh;
    margin-bottom: 3%;
    width: 30%;   
    padding: 2.5% 5px 20px 5.5%;    
}
.sec3 h4{
    font-weight: 900;
    font-size: 19px;
}
.sec3 .parent p{
    font-size: 14px;
    color: rgb(81, 80, 80);
    margin: 10px 0px;
}
.sec3 .parent .sec1-item:hover p{
    color: black;
}
.sec3 .parent .sec1-item:hover h4{
    color: rgb(39, 71, 157);
}
.sec3 a{
    position: relative;
}
.sec3 i{
    position: absolute;
    left: 2%;
    top: 11%;  
}
/****************************** /sec3 ***********************************/
.sec4{
    height: 80vh;
}
.sec4-parent{
    padding: 7% 0px;
}
.sec4 .line{
    margin-left: 0;
}
.sec4-container{
    width: 75%;
}
.sec4 p{
    color: rgb(130, 130, 130);
}
.sec4-p1{
    margin: 7% 0px;
}
.sec4-p2{
    line-height: 40px;
    color: rgb(90, 89, 89);
}
.sec4-content , .sec4-img {
    float: left;
    width: 50%;
}
.sec4-img{
    width: 28%;
    margin-left: 22%;
}
.sec4-content{
    text-align: left;
    padding-top: 4%;
}
.sec4-content i{
    color:rgb(122, 98, 72) ;
}
.sec4 img{
    width:100%;
     height:80%;
}
.sec4-img i{
    font-size: 13px;
    color: rgb(130, 130, 130);
}
.sec4-img .icon1{
    color:rgb(122, 98, 72) ;
}
.sec4 i:hover{
    color:rgb(122, 98, 72) ;
}
/****************************** /sec4 ***********************************/
.sec5{
    padding: 0;
    margin: 0;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    background-image: url(../images/TNs3fx4Wbgpjg8KF2YS9Pn.jpg);
}
.sec5 .space ,.sec5-overlay{
    height: 25%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 100%;
}
.sec5-space1{
    top: 0;
}
.sec5-space2{
    bottom: 0;
}
.sec5 .sec5-overlay{
    height: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    top: 25%;
}
.sec5-overlay-icons{
    width: 80%;
    height: 100%;
    margin: auto;
    overflow: auto;
    padding-top: 10%;
}
.sec5-overlay-icons p{
    float: left;
    width: 25%;
    text-align: center;
    color: white;
    font-weight: 900;
}
.sec5 i{
    font-size: 40px;
    color:rgb(205, 187, 169) ;
    margin-bottom: 5%;
}
/****************************** /sec5 ***********************************/
.sec6{
    padding: 0px 0px 5% 0px ;
    height: 80vh;
}
.sec6-parent{
    overflow: auto;
    padding: 10% 0 0 0; 
}
.sec6-item{
    width: 30%;
    float: left;
    border: 0.5px solid rgb(148, 127, 104);
    background-color: rgba(227, 221, 217, 0.244);
    border-radius: 10px;
    padding: 3%;
    font-weight: bolder;
    position: relative;
}
.sec6-item2 {
    margin: 0 5%;
}
.sec6-item p {
    margin-bottom: 10%;
    color: rgb(100, 100, 100);
}
.sec6-item h3{
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid rgb(105, 105, 146);
    border-radius: 50%;
   padding: 30px 10px;
   line-height: 15px;
   margin-bottom: 10%;
}
.sec6-item:hover h3{
    border: 2px solid rgb(26, 26, 88);
}
h3 small{
    font-size: 15px;
    text-transform: uppercase;
    color: rgb(99, 98, 98);
}
.perfum-title{
    text-transform: uppercase;
}
.sec6-item:hover .perfum-title{
    color:rgb(29, 22, 77);
}
.sec6-btn{
    text-transform: uppercase;
    font-size: 17px;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    color:rgb(29, 22, 77);
    background-color: rgb(174, 161, 145);
}
.sec6-btn:hover{
    cursor: pointer;
    background-color: rgba(174, 161, 145, 0.607);
}
.sec6-item::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    border-radius: 10px;
    background-color: rgba(161, 139, 125, 0.485);
    transition: 0.75s;
    opacity: 0;
    z-index: -1;
    
}
.sec6-item:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
/****************************** /sec6 ***********************************/
.sec7{
    background-image: url(../images/bottle-perfume-flowers-white-background-generative-ai-282905464.webp);
}
.sec7-container{
    width: 70%;
}
.sec7-item{
    float: left;
    width: 46%;
    text-align: left;
    letter-spacing: -1px;
    padding: 10px 0% 10px 0%;
    height: 200px; 
}
.sec7-item2{
    margin-left: 8%;
}
.sec7  span{
    margin: 5% ;
    display: inline-block;
    font-size: 25px;
    font-weight: bolder;
    color: white;
    width: 190px;
}
.sec7 span p {
    font-size: 18px;
    color:rgb(29, 22, 77);
    margin-top: 7px;
}
.sec7 p{
    margin-top: 5%;
    font-weight: bolder;
    line-height: 25px;
}
.sec7 img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float: left;
}
/****************************** /sec7 ***********************************/
.sec8{
    padding: 0px;
    height: 88vh;
}
.sec8-item ,.sec9-item{
    float: left;
    width: 30%;
    border: 0.5px solid rgb(148, 127, 104);
    background-color: rgba(173, 154, 139, 0.244);
    border-radius: 10px;
    padding: 2% 0px;
    position: relative;
}
.sec8-item2{
    margin: 0 5%;
}
.sec8 img{
    width: 100%;  
}
.sec8-img{
    position: relative;
     width: 75%;
     margin: auto;
}
.sec8-icon{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 98.5%;
    background-color: rgba(0, 0, 0, 0.229);
    visibility: hidden;
}
.sec8-item:hover .sec8-icon{
    visibility: visible;
}
.sec8 a{
    color: white;
    font-size: 20px;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 30px;
    margin-left: auto;
    background-color: rgb(122, 98, 72);
    padding: 10px;  
    opacity: 0.7;  
}
.sec8 a:hover{
    opacity: 1;
}
.sec8-item::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    border-radius: 10px;
    background-color: rgba(161, 139, 125, 0.485);
    transition: 0.75s;
    opacity: 0;
    z-index: -1;    
}
.sec8-item:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.8;
}
.sec8 h4 , .sec9 h4{
    font-size: 23px;
    font-weight: bolder;
    margin: 10px 0;
}
.sec8-item:hover h4{
    color: rgb(255, 255, 255);
}
.sec8 p{
    text-transform: uppercase;
    font-weight: bolder;
    color: rgb(96, 95, 95);
}
.sec8-item:hover p{
     color:rgb(25, 52, 162);
}
/****************************** /sec8 ***********************************/
.sec9{
    height: 115vh;
}
.sec9-item{
    background-color: rgba(173, 154, 139, 0);
}
.sec9-item::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    border-radius: 10px;
    background-color: rgba(161, 139, 125, 0.485);
    transition: 0.75s;
    opacity: 0;
    z-index: -1;    
}
.sec9-item:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.8;
}
.sec9-item2{
    margin: 0 5%;
}
.sec9 h4{
    font-size: 18px;
}
.sec9 img{
    border-radius: 10px;
    width: 75%;
    margin-bottom: 15px;
}
.sec9 p{
    margin-bottom:15px;
    font-size: 14px;
    font-weight: bolder;
    color: rgb(74, 73, 73);
}
.sec9 span{
    font-weight: bolder;
    font-size: 15px;
}
.sec9 i{
    color: rgb(122, 98, 72);
    margin-left: 10px;
    margin-right: -5px;
}
.sec9-item:hover h4{
    color: white;
}
.sec9-item:hover p{
    color: black;
}
/****************************** /sec9 **********************************/
footer{
    height: 45vh;
    width: 100%;
    background-color: rgba(34, 30, 59, 0.826);
    text-align: center;
}
.footer-parent{
    padding: 1.5% 0px;
}
footer img{
    border-radius: 10px;
    height: 210px;
    width: 250px;
}
footer a{
   background-color: rgb(122, 98, 72);
    color: white;
    border-radius: 50%;
    padding: 7px;
    font-size: 30px;
    opacity: 0.7;
}
footer a:hover{
     opacity: 1;
}
.footer-icons{
    margin: 19px 0;
}
footer p{
    text-transform: uppercase;
    font-weight: bolder;
    color: rgb(40, 39, 39);
    font-size: 14px;
}
